.hero-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* background-image: linear-gradient(to right, #4AC29A 0%, #BDFFF3  51%, #4AC29A  100%); */
/* background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0  51%, #FFAFBD  100%); */